@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azul-escuro: #22577A;
    --azul-escuro-mais: #122f42;
    --verde-mais-escuro: #38A3A5;
    --verde: #57CC99;
    --verde-claro: #80ED99;
    --verde-bem-claro: #C7F9CC;
}

::-webkit-scrollbar {
    width: 12px;
}


::-webkit-scrollbar-track {
    background-color: #000;
}


::-webkit-scrollbar-thumb {
    background-color: var(--azul-escuro);
    transition: 0.3s;
    border-radius: 20px;
}


::-webkit-scrollbar-thumb:hover {
    background-color: var(--verde-mais-escuro);
}

::-webkit-scrollbar-thumb:focus {
    border-radius: 20px;
}

/* General Style - End */

/* Header Style */


header {
    font-family: "Montserrat";
}


.hamburguer-menu {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    position: absolute;
    z-index: 2;
}

.line {
    display: block;
    width: 30px;
    background: var(--azul-escuro-mais);
    height: 2px;
    margin: 5px 0;
    transition: all 0.4s ease;
    z-index: 1;
    position: relative;
}

.menu-expanded {
    background: var(--verde-bem-claro);
    width: 0;
    opacity: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
}

.menu-expanded ul {
    margin: 0;
    list-style: none;
    font-size: 32px;
    text-align: center;
    line-height: 2em;
}

.menu-expanded li {
    transition: .3s;
}

.menu-expanded li:hover {
    opacity: 0.6;
}

a {
    text-decoration: none;
    color: #000000;
}

.change .first-line {
    transform: rotate(45deg) translate(5px, 5px);
}

.change .second-line {
    transform: rotate(-45deg) translate(5px, -5px);
}

.change .menu-expanded {
    width: 400px;
    opacity: 1;
}

@media (max-width: 400px) {
    .menu-expanded {
        width: 100%;
    }
}


/* Header Style (End) */

/* Main Style */

main {
    background-color: #ffffff;
    position: relative;
    height: 100vh;
}

.greenBg {
    width: 100%;
    height: 100vh;
    background-color: var(--verde);
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    position: absolute;
    bottom: -100vh;
    opacity: 0; 
    animation: moveToTop 2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards 0.5s;
    padding: 20px; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    text-align: center; 
    position: relative; 
}

.texts {
    margin-right: 70px;
}

.imgPessoa {
    position: absolute; 
    bottom: 0; 
    left: 0;
    margin-bottom: -3px; 
    transition: .3s;
}


.imgPessoa img {
    width: 63em;
    height: auto;
}

@media (max-width: 2042px) {
    .imgPessoa {
        left: -50px;
    }
}

@media (max-width: 1943px) {
    .imgPessoa {
        left: -100px;
    }
}

@media (max-width: 1840px) {
    .imgPessoa {
        left: -180px;
    }
}

@media (max-width: 1678px) {
    .imgPessoa {
        left: -250px;
    }
}

@media (max-width: 1668px) {
    .imgPessoa {
        left: -180px;
    }
}

@media (max-width: 1666px) {
    .imgPessoa {
        position: absolute; 
        bottom: 0; 
        left: 250px;
        margin-bottom: -3px; 
        transition: .3s;
    }

    .imgPessoa img {
        width: 43em;
        height: auto;
    }
}

.greenBg h1 {
    font-family: "Kanit";
    letter-spacing: 2px;
    color: #fff;
    text-shadow: 1px 1px 1px black;
    font-size: 3rem;
}

.greenBg p {
    text-transform: uppercase;
    color: #fff;
    font-family: "Montserrat";
    margin: 0;
}


@keyframes moveToTop {
    0% {
        bottom: -100vh;
        opacity: 0;
    }

    60% {
        bottom: 10%;
        opacity: 1;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}